.DS_Store
target
dependency-reduced-pom.xml
download-cache/**
download-cache
.idea/**
.idea
*.iml
.classpath
.project
.settings
bin
apache-storm-1.2.0
apache-storm-1.2.1
flink-1.4.0
heron-0.17.4
heron-0.17.8
kafka_2.11-0.11.0.2
redis-4.0.8
spark-2.2.1-bin-hadoop2.6
spark-2.3.0-bin-hadoop2.6
redis-4.0.8
dump.rdb
nohup.out
result
result_old
data/seen.txt
data/updated.txt